{% extends "::base.html.twig" %}

{% block title %}MRSControleBundle:SerializerController:financas{% endblock %}

{% block body %}
<h1>Welcome to the SerializerController:financas page</h1>
{% endblock %}
