{% extends '::base.html.twig' %}

{% block body -%}
    {{ include('MRSControleBundle:TbKilometragem/Template:painel.html.twig') }}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('kilometragem') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
